body {
	background-color:green;
	background-size: cover;
	background-position: center;
	font-family: Arial, sans-serif;
	opacity: 20;
}
h1{color: aqua;font-size: xx-large;font-family: 'Times New Roman', Times, serif;align-items: center;}
h2{color: blue;}
h3{color:blue}
/* Rest of the CSS code */
button{
	color: rgb(241, 6, 77);
}